
// ---------------------- ** TYPOGRAPHY ** ----------------------

// Font Size
$font-size-xs: 12px
$font-size-s: 14px
$font-size-m: 15px
$font-size-l: 16px
$font-size-xl: 18px
$font-size-xxl: 24px

// Line Height
$line-height-xxs: 14px
$line-height-xs: 16px
$line-height-s: 19px
$line-height-m: 20px
$line-height-l: 24px
$line-height-xl: 25px
$line-height-xxl: 30px
$line-height-xxxl: 38px

// Letter Spacing
$letter-spacing-m: 1.52px

// Font Weight
$font-weight-normal: 400
$font-weight-bold: 700

// ---------------------- ** COLORS ** ----------------------

$primary: #003970
$primary-semi-light: #105AA3
$primary-light: #4BA7EE
$primary-dark: #001841

$gray: #4E5156
$black: #000000
$white: #FFFFFF

$red: #DB171D
$orange: #FFAB48
$yellow: #FFEF63

// ---------------------- ** SPECIFIC COLORS ** ----------------------

// Home View
$background-home-view: #E5E5E5

// HotelDealCard Component
$hotel-deal-card-header-line-color: #C9E3F9

// ---------------------- ** SPECIFIC SPACING ** ----------------------

// Home View
$lateral-padding-home-view: 40px

// Home Header
$home-header-height: 47px

// HotelDealCard Component
$hotel-deal-card-height: 490px
$hotel-deal-card-width: 225px
$hotel-deal-card-padding: 10px
